<div class="timetable">
  <div class="date" *ngFor="let item of response.availableTime | keyvalue">
    <div class="date-screen">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="showChangeList" aria-haspopup="true"
        aria-expanded="false" (click)="selectDate(item.key)">
        {{ item.key }}
      </button>
      <div class="date-time" *ngIf="selectedDate == item.key">
        <div class="time-obj" *ngFor="let time of item.value">
          <input type="checkbox" class="btn-check" id="btn-check-2-outlined{{item.key + time}}" checked
            autocomplete="off" [checked]="time == selectedStartTime" (click)="checkSelected(time)">
          <label class="btn btn-outline-secondary" for="btn-check-2-outlined{{item.key + time}}">{{ time }}</label>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="selectedDate != null && selectedStartTime != null" class="send-btn btn btn-secondary" type="button"
    aria-haspopup="true" aria-expanded="false" (click)="sendRequest()">Отправить заявку</button>
</div>
