#list {
  display: none;
}
#list.show {
  display: block;
}

.checkbox-li {
  flex-direction: row;
  display: flex;
}
.list-group-item {
  margin-left: 5px;
}
.dropdown {
  margin-top: 1%;
  margin-left: 2%;
}
.replacements-btn {
  margin-left: 0.75%;
}
.get-time-btn {
  margin-left: 2%;
}
.time-obj {
  margin: 1.5%;
}
.form-control {
  max-width: 3%;
  max-height: 3%;
}
.list-group-item {
  margin-top: 0.4%;
  margin-left: 1%;
}
