<div>
  <div class="dropdown" *ngIf="dto.detailsToChange.length > 0">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="showChangeList" aria-haspopup="true"
      aria-expanded="false" (click)="showChangeList = !showChangeList">
      Выберите детали нужные для замены
    </button>
    <div *ngIf="showChangeList">
      <ul *ngFor="let det of dto.detailsToChange">
        <div class="details">
          <div class="checkbox-li">
            <input class="form-check-input" [checked]="ifPresent(det.id)" (click)="checkSelected($event, det.id)" type="checkbox">
            <a class="list-group-item" (click)="toDetail(det.id, $event)">
              {{ det.name }} - {{ det.detailType }}  {{ det.dimension }}
            </a>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="showChangeList" aria-haspopup="true"
              aria-expanded="false" *ngIf="det.detailResponses.length > 0" (click)="showReplacementsButton(det.id)">
              Детали-заменители
            </button>
          </div>
          <div *ngIf="showReplacements && det.id == selectedReplacemntId">
            <ul *ngFor="let repl of det.detailResponses">
              <p>Неоригинальные:</p>
              <div class="checkbox-li">
                <input class="form-check-input" [checked]="ifPresent(repl.id)" (click)="checkSelected($event, repl.id)" type="checkbox">
                <a class="list-group-item" (click)="toDetail(repl.id, $event)">
                  {{ repl.name }} - {{ det.detailType }}
                </a>
              </div>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="dropdown" *ngIf="dto.otherDetails.length > 0">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="showChangeList" aria-haspopup="true"
      aria-expanded="false" (click)="showOtherList = !showOtherList">
      Выберите детали, которые не к спешке менять
    </button>
    <div *ngIf="showOtherList">
      <p>Оригинальные:</p>
      <ul *ngFor="let det of dto.otherDetails">
        <div class="details">
          <div class="checkbox-li">
            <input class="form-check-input" [checked]="ifPresent(det.id)" (click)="checkSelected($event, det.id)" type="checkbox">
            <a class="list-group-item" (click)="toDetail(det.id, $event)">
              {{ det.name }} - {{ det.detailType }}  {{ det.dimension }}
            </a>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="showChangeList" aria-haspopup="true"
              aria-expanded="false" *ngIf="det.detailResponses.length > 0" (click)="showReplacementsButton(det.id)">
              Детали-заменители
            </button>
          </div>
          <div *ngIf="showReplacements && det.id == selectedReplacemntId">
            <ul *ngFor="let repl of det.detailResponses">
              <p>Неоригинальные:</p>
              <div class="checkbox-li">
                <input class="form-check-input" [checked]="ifPresent(repl.id)" (click)="checkSelected($event, repl.id)" type="checkbox">
                <a class="list-group-item" (click)="toDetail(repl.id, $event)">
                  {{ repl.name }} - {{ det.detailType }}
                </a>
              </div>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <button *ngIf="detailIds.length > 0" class="btn btn-secondary" type="button" id="showChangeList" aria-haspopup="true"
    aria-expanded="false" (click)="getTimetable()">Получить свободное время</button>
    <app-timetable *ngIf="response" [response]="response"
                                    [requestTime]="requestTime">
    </app-timetable>
</div>
