<div class="detail-add">
    <div class="selects-block">
        <select class="form-select">
            <option *ngFor="let detailType of detailAddResponse.detailTypes">{{ detailType }}</option>
        </select>
        <div class="dimension-block">
            <select class="form-select">
                <option *ngFor="let dimension of detailAddResponse.dimensions">{{ dimension }}</option>
            </select>
            <input [(ngModel)]="dimensionName" name="name" id="name" required>
            <button class="btn btn-outline-secondary" type="button" (click)="createDimension()">Add dimension</button>
        </div>
        <select class="form-select">
            <option *ngFor="let detail of detailAddResponse.details">{{ detail.name }}</option>
        </select>
    </div>
    <div class="info-block">
        <input [(ngModel)]="dimensionName" name="name" required>
        <input [(ngModel)]="dimensionName" name="name" required>
        <input [(ngModel)]="dimensionName" name="name" required>
        <input [(ngModel)]="dimensionName" name="name" required>
    </div>
</div>
