<div class="detail-info" *ngIf="detail !== undefined">
  <h1>Деталь машины</h1>
  <div class="detail">
    <h2>{{ detail.name }}</h2>
    <p>Описание детали</p>
    <p>Производитель: <span class="manufacturer">{{ detail.producer }}</span></p>
    <p>Тип детали: <span class="type">{{ detail.detailType }}</span></p>
    <p>Количество: <span class="type">{{ detail.count }} {{ detail.dimension }}</span></p>
    <p>Время доставки: <span class="type">{{ detail.timeToDelivery }}</span></p>
    <p>Цена: <span class="type">{{ detail.price }}</span></p>
    <div *ngIf="detail.detailResponses && detail.detailResponses.length > 0">
      <p>Детали-заменители:</p>
      <a *ngFor="let det of detail.detailResponses" (click)="toDetail(det.id, $event)">{{ det.name }}</a>
    </div>
  </div>
</div>
