.detail-add {
    display: flex;

}
.selects-block {
    flex-direction: row;
}

.dimension-block {
    flex-direction: row;
    display: flex;
}
.info-block {
    
    flex-direction: column;
    display: flex;
}
