.detail-add {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.type-select {
  max-width: 25%;
}
.dimension-block {
  max-width: 20%;
  margin-top: 1%;
}
.selects-block {
    flex-direction: row;
}

.dimension-block {
    flex-direction: row;
    display: flex;
}
.info-block {
    flex-direction: column;
    display: flex;
    margin-top: 1%;
}
.info-div {
  margin-top: 1%;
  max-width: 20%;
  flex-direction: row;
}
.drop-btn {
  margin-top: 1%;
}
.checkbox-li {
  display: inline-flexbox;
  flex-direction: column;
}
.list-group-item {
  margin-left: 5px;
}
.clickable {
  cursor: pointer;
}
.save-detail {
  margin-top: 1%;
  width: 7%;
  height: 10%;
}
.info-replacements {
  flex-direction: row;
  float: left;
}
