.clickable {
  cursor: pointer;
}
td {
  background-color: white;
}
.table tr:hover td {
  background-color: rgba(0,0,0,.05);
}
.btn-delete {
  float: right;
}

input {
  width: 100%;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
}
