<div class="card my-5">
  <div class="card-body">
    <div class="search form-floating mb-3 w-50">
      <input [(ngModel)]="brand" (keyup)="findByBrand($event)" class="form-control" id="input1" placeholder="Brand to find">
      <label class="form-label" for="input1">Марка</label>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Марка</th>
          <th scope="col">Модель</th>
          <th scope="col">Модификация</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let car of cars">
          <ng-container *ngFor="let model of car.models">
            <tr *ngFor="let modif of model.modifications">
              <td>{{ car.brand }}</td>
              <td>{{ model.model }}</td>
              <td>{{ modif.name }}
                <a (click)="addMileageDetail(modif.id)" title="Добавить детали к замене при пробеге" class="clickable btn-delete">✔</a>
                <a (click)="addCarWork(modif.id)" title="Добавить работы к машине" class="clickable btn-delete">✎</a>
                <a (click)="addDetailToCar(modif.id)" title="Добавить детали к машине" class="clickable btn-delete">⇧⇩</a>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <app-pagination [page]="page" [paginationUrl]="[]">
    </app-pagination>
  </div>
</div>
